@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

%pink-borders {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid map-get($colors, brandLighter);
  background-color: white;
  @include media-breakpoint-up(sm) {
    padding: 20px;
  }
}

.entry__posts {
  margin-top: 15px;
  margin-bottom: 15px;
  @extend %pink-borders;
  font-size: 1rem;
  font-weight: 400;
}

.entry {
  margin-top: 15px;
  margin-bottom: 15px;
  @extend %pink-borders;
  &:hover {
    border-color: map-get($colors, brandLight);
    .entry__h2 {
      color: map-get($colors, brand);
    }
  } 
}

.entry__h2 {
  font-size: 1rem;
  margin-bottom: .1rem;
  color: map-get($colors, brandLight);
  transition: color .25s ease-out;
  text-decoration: none;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.entry__h2--small {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid map-get($colors, brandLightest);
  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &:hover {
    color: map-get($colors, brand);
  }
}

.entry__p {
  margin-bottom: 0;
  font-size: .9rem;
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

.entry__img {
  border-radius: 8px;
  margin-right: 30px;
  max-width: 100px;
}
