@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

$thumbnail-size:     150px;
$thumbnail-size-md:  200px;
$thumbnail-size-xl:  250px;



.thumbnail {
  text-align: center;
  position: relative;
  width: $thumbnail-size;
  height: $thumbnail-size;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    width: $thumbnail-size-md;
    height: $thumbnail-size-md;
  }
  @include media-breakpoint-up(xl) {
    width: $thumbnail-size-xl;
    height: $thumbnail-size-xl;
  }
}


.thumbnail__img {
  // box-shadow: 0px 0px 30px 0px map-get($colors, brand );
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border:2px solid map-get($colors, brand); 
  padding:4px; 
  background: white;
}
