@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  // width: 90%;
  @include media-breakpoint-up(sm) {
    max-width: map-get($grid-breakpoints, xl);
  }
}
