.uppercase {
  text-transform: uppercase;  
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.bg-gray-150 {
  background-color: map-get($grays, "150");
}
.gray-500 {
  color: map-get($grays, "500");
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-md-row {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-background {
  background-color: map-get($colors, dark);
  background-image: url('../images/pattern-3.png');
  background-repeat: repeat;
  color: white;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
