
@import './variables';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root__body {
  flex: 1;
}

::selection { 
  background: map-get($colors, brandLight); 
  color: white;
}

p { 
  margin-bottom: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}
