.flex {
  display: flex;
  flex-grow: grow;
  flex-shrink: shrink;
  flex-basis: basis;
  // flex-direction:
  // justifyContent: direction === 'row' ? halign : valign,
  // alignItems: direction === 'row' ? valign : halign,
}
