@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

.button-link {
  display: inline-block;
  background-color: map-get($colors, brandLight);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 40px;
  font-weight: 200;
  margin: 8px 0;
  outline: none;
  padding: 0 12px;
  transition: all 300ms ease;
  &:hover {
    background-color: map-get($colors, brand);;
  }
}

.button-link--outline {
  background-color: white;
  border: 1px solid map-get($colors, brandLight);
  color: map-get($colors, brandLight);
  &:hover {
    color: white;
    background-color: map-get($colors, brandLight);;
  }
}

.button-link--small {
  font-size: 14px;
  line-height: 30px;
  padding: 0 8px;
}
.button-link--medium {
  font-size: 16px;
  line-height: 40px;
  padding: 0 12px;
}
.button-link--small {
  font-size: 14px;
  line-height: 30px;
  padding: 0 8px;
}
.button-link--large {
  font-size: 18px;
  line-height: 50px;
  padding: 0 16px;
}
.button-link--wide {
  padding: 0 36px;
}
.button-link--extraWide {
  padding: 0 72px;
}
.button-link--fullWidth {
  text-align: center;
  display: block;
  width: 100%;
}

.button-link--fullWidth-on-xs {
  @include media-breakpoint-down(sm) {
    text-align: center;
    display: block;
    width: 100%;
  }
}
