@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

.nav {
  background-color: map-get($colors, darker);
  
  color: white;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  height: 60px;
  @include media-breakpoint-between(sm, lg) {
    height: 50px;
  }
  @include media-breakpoint-down(xs) {
    height: 80px;
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav__links-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  -overflow-scrolling: touch;
  height: 100%;
  // width: 60%;
  margin-right: 50px; 
  @include media-breakpoint-down(xs) {
    width: auto;
    height: 40px;
  }
  @include media-breakpoint-down(sm) {
    margin-right: 0; 
    // -webkit-mask-image: linear-gradient(
    //   to right,
    //   transparent,
    //   black 20px,
    //   black 90%,
    //   transparent
    // );
  }
}

.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  transition: color .4s ease-out;
  font-weight: 300;
  font-size: 1.2rem; 
  padding-left: 20px;
  padding-right: 20px;
  &:hover, &:focus {
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    background-color: map-get($colors, lighter);
    color: white;
  }
  @include media-breakpoint-up(xl) {
    &:hover:not(:focus) {
      color: map-get($colors, brand);
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 1rem; 
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.nav__link--active {
  color: map-get($colors, brand);
  border-bottom: 3px solid #cf45b8;
  @include media-breakpoint-down(sm) {
    border-bottom: none;
  }
}

.nav__social-link {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: map-get($colors, darker);
  fill: white;
  &:hover {
    fill: map-get($colors, brand);
    transform: scale(1.25);
    transition: transform .25s, fill .25s;
  }
}
