@import '../../styles/variables';
@import '../../styles/mixins/breakpoints';

.banner {
  line-height: 1.15;
  background-color: map-get($colors, dark);
  background-image: url('./pattern-3.png');
  background-repeat: repeat;
  color: white;
}

.banner__content-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.banner__content-wrapper--large {
  padding-top: 45px;
  padding-bottom: 20px; 
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 70px; 
  }
  @include media-breakpoint-up(xl) {
    padding-top: 95px;
    padding-bottom: 85px;
  }
}

.banner__content-wrapper--medium {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 15px; 
  @include media-breakpoint-up(md) {
    padding-top: 45px;
    padding-bottom: 20px; 
  }
  @include media-breakpoint-up(xl) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.banner__content-wrapper--small {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 10px; 
  @include media-breakpoint-up(md) {
    padding-top: 35px;
    padding-bottom: 15px; 
  }
  @include media-breakpoint-up(xl) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/* NOTE
 * md up -> swtich to row
 * md down -> swtich to col
 */

.banner__flex {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.banner__section {
  max-width: 700px;
  margin-right: 20px;
  @include media-breakpoint-up(xl) {
    &:nth-of-type(1) {
      margin-right: 0;
    }
  }
}

.banner__h1 {
  color: white;
  margin: 0;
  letter-spacing: 0.01em;
  
  text-align: center;
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.0rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 2.75rem;
  }
}

.banner__p {
  padding-top: 10px;
  letter-spacing: 0.01rem;
  font-weight: 200;

  max-width: 18rem;
  font-size: 1rem;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding-top: 15px;
    font-size: 1.5rem;
    text-align: left;
    max-width: 100%;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 20px;
    font-size: 1.9rem;
  }
}
